{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    <div class="title-bar">
      {{#paper-sidenav-toggle as |toggle|}}
        {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
      {{/paper-sidenav-toggle}}

      {{yield}}
    </div>
  </div>
{{/paper-toolbar}}
