$primary: "blue" !default;

@import 'ember-paper';

body, #content {
  background-color: #f3f3f3;
}

.breadcrumb {
  padding: 0 0.5em;

  a {
    text-decoration: underline;
  }
}

.iframe-container {
  position: absolute;
  top: 100px;
  left: 1em;
  right: 1em;
  bottom: 1em;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

md-content p.content {
  padding: 2em 1em;
}

md-sidenav {
  min-height: 100vh;
  text-align: left;
}

.material-icons {
  line-height: 0.8
}

.file-list {
  background-color: #f3f3f3;
  border-collapse: collapse;
  display: block;

  tbody {
    display: block;

    tr:nth-child(odd) {
      background-color: #F7F7F7;
    }
  }

  td,th {
    padding: 12px 16px;
    text-align: left
  }

  td,th {
    vertical-align: top;

    &.name {
      width: 100%;
      padding-left: 35px !important;
      cursor: pointer;

      .paper-icon {
        color: #999;
        padding-right: 0.3em;
      }

      .folder {
        color: #9CF;
      }
    }

    &.updated {
      min-width: 110px;
    }

    &.size {
      min-width: 50px;
      padding-right: 35px !important;
      text-align: right;
    }
  }
}

.file-list md-list-item:nth-child(even) {
  background-color: #F5F5F5;
}

#upload-file {
  margin-left: auto;
}

.upload-progress {
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  z-index: 100;

  .md-container {
    background-color: #173 !important;
  }

  .md-bar1, .md-bar2 {
    background-color: #2C8 !important;
  }
}

.file-component {
  display: flex;
  flex-direction: row;

  margin-top: 5%;

  .meta {
    flex: 40;
    margin-left: 10%;
    margin-right: 2em;
    margin-top: 10%;
    text-align: right;

    .filename {
      a {
        color: #222;
        text-decoration: none;
      }

      font-size: 1.8em;
      line-height: 1.8;
      font-weight: bold;
      word-wrap: break-word;
    }

    .fsinfo {
      font-size: 1.1em;
      line-height: 1.6;
    }

    .size {
      font-weight: bold;
    }

    .download {
      color: #000;
      display: block;
      margin-top: 2em;
      font-size: 1.3em;

      .material-icons {
        font-size: 2em;
      }
    }
  }
  .preview {
    flex: 40;
    margin-right: 10%;
    margin-left: 2em;
    min-height: 600px;

    display: flex;
    align-items: center;
    justify-content: center;

    audio, .no-preview {
      width: 100%;
      font-size: 3em;
      color: #CCC;
      font-weight: bold;
    }

    img {
      width: 100%;
      max-height: 100%;
    }

    video {
      width: 100%;
      max-height: 100%;
    }
  }
}
