$primary: "blue" !default;
$font_root_url: '../fonts';

@import 'ember-paper';

@import 'publishing';
@import 'directory';
@import 'upload';
@import 'file';
@import 'clients';
@import 'about';
@import 'spinner';

body, #content {
  background-color: #FFF;
}

#content {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.actions {
  text-align: right;
}

.ember-tooltip {
  z-index: 3;
}

.sidebar-small {
  width: 50px;
  max-width: 50px;
  flex-direction: column;
  background-color: #555;

  img {
    position: relative;
  }

  .logo-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background-color: #2196f3;
  }

  a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 0;
    text-align: center;
    margin-right: 2px;
    border-radius: 0 4px 4px 0;
    text-decoration: none;
    position: relative;

    div {
      font-size: 10px;
      font-weight: bold;
    }

    div, md-icon {
      color: #FFF;
    }

    &:hover {
      background-color: #444;
    }

    &.active {
      background-color: #FFF;

      div, md-icon {
        color: #000;
      }
    }
  }
}

md-toolbar.md-whiteframe-1dp {
  min-height: 48px;
  box-shadow: none;
  background-color: #069;

  .md-toolbar-tools {
    height: 48px;
  }

  .title-bar {
    display: flex;
    flex-direction: row;
    width: 100%;

    .title {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 2.3;
    }

    .toggle-menu {
      margin-top: 2px;
      margin-right: 0 !important;
    }

    .more {
      margin-right: -15px;
    }

    .compact-actions {
      display: none;
  }
}
}

.md-button {
  &.icon-button {
    min-width: 20px;
  }

  &:not([disabled]):hover {
    background-color: rgba(50,50,50, 0.2) !important;
  }
}

md-menu-item {
  > .md-button {
    display: flex;
  }

  p.label {
    flex: 1;
  }

  &.danger {
    color: color($warn);;

    md-icon {
      color: color($warn);
    }
  }

  > .md-button md-icon {
    margin: 10px 10px auto 0 !important;
  }
}

.breadcrumb {
  display: inline-block;

  .full {
    display: inline-block;
  }

  .parent-only {
    display: none;
  }

  a {
    border-bottom: 1px solid #FFF;
  }
}

#content md-content {
  background-color: #EEE;
  border-right: 10px solid #FFF;
  height: 100%;

  p.content {
  padding: 2em 1em;
    margin: 0;
    max-width: 900px;
    flex: 1;
    flex-direction: column;
    background-color: #FFF;
    min-height: calc(100vh - 110px);
}
}

md-sidenav {
  background-color: #FFF;
  text-align: left;
  max-width: 280px;

  md-content md-list .md-button {
    background-color: #FFF;
  }

  md-list-item {
    &:hover {
      background-color: #DDD;
    }

    .md-list-item-inner {
      md-icon {
        margin: 14px 12px 14px 0 !important;
      }
      flex: off;
      display: block;
      justify-content: initial !important;
    }
  }
}

.material-icons {
  line-height: 0.8
}

@media (max-width: 700px) {
  md-content {
    .md-toolbar-tools {
      padding: 0 !important;
    }

    p.content {
      padding-top: 0.5em;
    }
  }

  .breadcrumb .full {
    display: none;
  }

  .breadcrumb .parent-only {
    display: inline-block;
  }

  .title-bar {
    .compact-actions {
      display: block !important;
}
  }

  .actions {
    display: none;
  }
}

.notfound {
  .huge {
    font-weight: bold;
    color: #BBB;
    font-size: 5em;
    text-align: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 0.2em;
  }

  .description {
    text-align: center;
  }
}
