.clients {
  .client-download {
    text-align: center;
  }

  .server-url {
    text-align: center;
    overflow: hidden;

    iframe {
      margin: 20px auto 5px auto;
      max-width: 600px;
      border: 1px solid #000;
      padding: 3px;
      height: 1.2em;
      background-color: #FFF;
    }
  }

  .use-auth-in-url {
    max-width: 600px;
    margin: 0 auto 20px auto;
    text-align: center;
  }

  .authentication {
    max-width: 510px;
    margin: auto;
    padding: 20px 0;

    .username-field, .password-field {
      clear: both;
    }

    label {
      display: block;
      line-height: 1.7em;
    }

    .username, .password {
      overflow: hidden;
    }

    .username iframe, .password iframe {
      border: 1px solid #000;
      padding: 3px;
      height: 1.2em;
      max-width: 500px;
      background-color: #FFF;
      width: 95%;
    }
  }
}
