@import './spinner';
@import './buttons';
@import './forms';
@import './changelog';
@import './sidebar';
@import 'photoswipe/dist/photoswipe.css';

.file-list tbody tr:nth-child(odd) {
  @apply bg-opacity-20;
}

.file-list tbody tr.selected {
  @apply bg-blue-200;
}

.file-list tbody tr.selected:nth-child(odd) {
  @apply bg-blue-200 bg-opacity-80;
}

.file-list tbody tr.droppable,
.file-list tbody tr.droppable:nth-child(odd) {
  @apply bg-green-300 bg-opacity-100;
}

.file-list .updated .long {
  min-width: 110px;
}

.file-list .updated .short {
  min-width: 35px;
}

.file-list .size .long {
  min-width: 60px;
}

.file-list th.updated .short {
  padding-left: 0.4rem;
}

.file-list th {
  box-shadow: 0 1px 0 rgb(178, 178, 178);
}

.tooltip {
  @apply z-30;
}

.slide-in-from-right {
  animation: 0.2s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
