@import './spinner';
@import './buttons';
@import './forms';
@import './changelog';
@import './sidebar';
@import 'photoswipe/dist/photoswipe.css';

.file-list tbody tr:nth-child(odd) {
  @apply bg-opacity-20;
}

.file-list tbody tr.selected {
  @apply bg-blue-200;
}

.file-list tbody tr.selected:nth-child(odd) {
  @apply bg-blue-200 bg-opacity-80;
}

.file-list .updated .long {
  min-width: 110px;
}

.file-list .updated .short {
  min-width: 35px;
}

.file-list .size .long {
  min-width: 60px;
}

.file-list th.updated .short {
  padding-left: 0.4rem;
}

.file-list th {
  box-shadow: 0 1px 0 rgb(178, 178, 178);
}
