@import './spinner';
@import './buttons';
@import './forms';
@import './changelog';
@import './sidebar';
@import 'photoswipe/dist/photoswipe.css';

.file-list tbody tr:nth-child(odd) {
  @apply bg-gray-100;
}

.file-list .updated .long {
  min-width: 110px;
}

.file-list .updated .short {
  min-width: 50px;
}

.file-list .size .long {
  min-width: 60px;
}
