.file-list {
  background-color: #FFF;
  border-collapse: collapse;
  display: block;
  flex: 1;

  tbody {
    display: block;

    tr:nth-child(1) td:first-child {
      border-radius: 5px 0 0 0;
    }

    tr:nth-child(odd) {
      background-color: #F7F7F7;
    }
  }

  td,th {
    vertical-align: top;
    padding: 12px 16px;
    text-align: left;

    &.name {
      width: 100%;
      padding-left: 35px !important;
      cursor: pointer;

      .filename {
        display: table;
        table-layout: fixed;
        width: 100%;

        .truncated {
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .paper-icon {
        color: #999;
        padding-right: 0.3em;
        float: left;
        display: inline-block;
      }

      .folder {
        color: #9CF;
      }
    }

    &.updated {
      min-width: 110px;

      .short {
        display: none;
      }
    }

    &.size {
      min-width: 50px;
      padding-right: 35px !important;
      text-align: right;
    }
  }

  &.noExtraFields {
    th.updated, th.size {
      opacity: 0.3;
    }
  }
}

.empty-notice {
  margin-top: 4em;
  padding: 2em;
  text-align: center !important;
}

.file-list md-list-item:nth-child(even) {
  background-color: #F5F5F5;
}

.directory-actions {
  margin-top: 3em;

  .right {
    float: right;
  }
}

@media (max-width: 550px) {
  .file-list {
    td,th {
      &.updated {
        min-width: 50px;

        .short {
          display: block;
        }

        .long {
          display: none;
        }
      }

      padding: 8px 4px;

      &.name {
        padding-left: 15px !important;
      }
    }
  }
}
