.upload {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  button {
    background-color: transparent;
    color: #FFF;
  }

  .full { display: block; }
  .mobile { display: none; }
}

#upload-file {
  margin-left: auto;
}

.upload-progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .md-container {
    background-color: #173 !important;
  }

  .md-bar1, .md-bar2 {
    background-color: #2C8 !important;
  }
}

#dropzone-overlay {
  * { pointer-events: none; }

  display: flex;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  align-items: center;
  justify-content: center;

  .message {
    font-size: 2em;
    font-weight: bold;
    color: #FFF;
    padding: 30px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
      position: relative;

    md-icon {
      color: color($primary);
        position: absolute;
        top: -18px;
        left: -18px;
        font-size: 36px;
    }

    .breadcrumb {
      display: block;
      font-size: 1.2em;

      a {
        color: #FFF;
          text-decoration: none;
      }
    }
  }
}


@media (max-width: 550px) {
  .upload {
    .full { display: none !important; }
    .mobile {
      display: block !important;
      md-icon { color: #FFF; }
    }

    #upload-file {
      min-width: auto;
      width: 48px;
    }
  }
}
