<div class="full">
  {{#link-to "files"}}home{{/link-to}}

  {{#each parts as |part|}}
    <span class="separator">/</span>
    {{#link-to "file" part.path}}{{part.name}}{{/link-to}}
  {{/each}}

  /
</div>

<div class="parent-only">
  {{#if isHome}}
    {{#link-to "files"}}home{{/link-to}}
  {{else}}
    {{#if (eq parentPath "")}}
      {{#link-to "files"}}...{{/link-to}}
    {{else}}
      {{#link-to "file" parentPath}}...{{/link-to}}
    {{/if}}
  {{/if}}

  /
</div>
