{{#if @active}}
  {{#in-element (or @container this.defaultContainer) insertBefore=null}}
    <div class="modal fixed w-full h-full top-0 left-0 flex items-center justify-center z-50">
      <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50" {{on "click" @onClose}}></div>

      <div class="modal-container bg-white md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto" ...attributes>
        <div class="modal-content py-4 text-left px-6 h-full">
          {{yield (hash onClose=@onClose)}}
        </div>
      </div>
    </div>
  {{/in-element}}
{{/if}}
