<div class="relative">
  <div class="overflow-hidden h-2 text-xs flex bg-green-200">
    <div style="width:{{@value}}%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
  </div>
</div>
