<button type="button" class="align-middle -mt-4 -mb-3 icon-button p-1 ml-2 rounded hover:bg-blue-300" {{on "click" @onClick}}>
  <Icon @icon={{@icon}} @ariaLabel={{@title}} class="block text-md" />

  <EmberTooltip>
    {{@title}}
  </EmberTooltip>
</button>
