<a href="/" class="block h-12 bg-blue-500">
  <img src="/images/sidebar-logo@2x.png" width="60" height="48" alt="Davros" class="block absolute top-0 right-0">
</a>

<nav class="sidebar mt-6 text-center">
  <LinkTo @route="home" @current-when="files file">
    <Icon @icon="folder" @ariaLabel="Files" />
    <div>Files</div>
  </LinkTo>

  {{#if @canSync}}
    <LinkTo @route="clients">
      <Icon @icon="desktop_mac" @ariaLabel="Clients" />
      <div>Clients</div>
    </LinkTo>
  {{/if}}

  {{#if @canEdit}}
    <LinkTo @route="publishing">
      <Icon @icon="web" @ariaLabel="Publish" />
      <div>Publish</div>
    </LinkTo>
  {{/if}}

  <LinkTo @route="about">
    <Icon @icon="info_outline" @ariaLabel="About" />
    <div>About</div>
  </LinkTo>
</nav>
