{{#if showingPreview}}
  {{#if canSandbox}}
    <iframe srcdoc="<pre>{{escapeHtml srcDoc}}</pre>" sandbox=""></iframe>
  {{else}}
    <p>Your browser doesn't support sandboxing, so we can't show a preview inline.</p>
  {{/if}}
{{else}}
  {{#paper-button raised=true action="showPreview"}}Show Preview ({{filesize model.size}}){{/paper-button}}
{{/if}}
