{{#if this.canSandbox}}
  {{#if this.errored}}
    <div class="w-full h-full flex items-center justify-center text-center border-t">
      There was an error rendering this preview.
    </div>
  {{else}}
    <iframe class="w-full h-full border-t" title="Document Preview" class={{this.size}} srcdoc={{this.srcDoc}} sandbox></iframe>
  {{/if}}
{{else}}
  <p>Your browser doesn't support sandboxing, so we can't show a preview inline.</p>
{{/if}}
