{{#paper-sidenav-container class="site-nav-container"}}
  {{#paper-sidenav class="md-whiteframe-z2 site-sidenav" open=isSidenavOpen lockedOpen="gt-sm" onToggle=(action (mut isSidenavOpen))}}

    {{#paper-toolbar class="site-content-toolbar"}}
      {{#paper-toolbar-tools}}
        <div class="logo">
          <strong>{{paper-icon "adjust"}} Davros File Storage</strong>
        </div>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-content}}
      {{partial 'sidebar'}}
    {{/paper-content}}

  {{/paper-sidenav}}

  <div class="flex layout-column" role="main" id="content">
    {{outlet}}
  </div>

{{/paper-sidenav-container}}
