<div id="app" class="flex bg-white">
  <div class="flex flex-1 flex-row">
    <div class="flex flex-col flex-1" id="content">
      <DavrosUploader />

      {{outlet}}
    </div>

    <div class="sidebar-small flex flex-col h-full w-12 bg-gray-800 text-white min-h-screen">
      <Sidebar @canSync={{this.canSync}} @canEdit={{this.canEdit}} />
    </div>
  </div>

  <ErrorNotification />
</div>

<DragGhost />
