<div class="ember-view">
  <div class="flex content-container">
    <div class="flex layout-column" id="content">
      {{outlet}}
    </div>

    <div class="flex sidebar-small">
      <Sidebar @canSync={{this.canSync}} @canEdit={{this.canEdit}} />
    </div>
  </div>
</div>
