{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    Desktop and Mobile Clients
  </div>
{{/paper-toolbar}}

{{#paper-content  flex-layout="column" flex=true}}
  <p class="content">
    Davros is compatible with the <a href="https://owncloud.org/install/#install-clients" target="_blank">OwnCloud Desktop Client</a>.
  </p>
{{/paper-content}}