<div class="upload">
  {{#paper-button id="upload-file"}}
    <span class="mobile">
      {{paper-icon icon="file-upload"}}
    </span>

    <span class="full">
      Upload
    </span>
    {{/paper-button}}
</div>
