<div class="more">
  {{#paper-menu position="target-right target" as |menu|}}

    {{#paper-button onClick=(action "toggleMenu" target=menu) class="more-button" iconButton=true}}
      {{paper-icon "more-vert" class="md-menu-origin"}}
    {{/paper-button}}

  {{else}}
    {{#if canEdit}}
      {{#paper-menu-item class="danger" onClick=(route-action "delete")}}
        <p class="label">Delete File</p>
        {{paper-icon "delete" class="md-menu-align-target"}}
      {{/paper-menu-item}}
    {{/if}}

  {{/paper-menu}}
</div>
