{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    Not Found

    <div id="upload-file"></div>
  </div>
{{/paper-toolbar}}

{{#paper-content class="notfound" flex-layout="column" flex=true}}
  <div class="huge">404 Not Found</div>

  <div class="description">We couldn't find this page. Please make sure you typed it correctly.</div>
{{/paper-content}}
