<TitleBar>
  <div class="title text-white text-lg flex-1">
    Not Found
  </div>
</TitleBar>

<div class="not-found p-4">
  <div class="text-xl font-bold">404 Not Found</div>

  <div class="description">We couldn't find this page. Please check the URL to make sure it is correct.</div>
</div>
