{{#title-bar}}
  Not Found
{{/title-bar}}

{{#paper-content class="notfound" flex-layout="column" flex=true}}
  <div class="huge">404 Not Found</div>

  <div class="description">We couldn't find this page. Please check the URL to make sure it is correct.</div>
{{/paper-content}}
