<div class="logo-bg" aria-hidden="true"></div>
<img src="/images/sidebar-logo@2x.png" width="50" height="61" alt="Davros">

<LinkTo @route="home" @current-when="file">
  {{paper-icon "folder"}}
  <div>Files</div>
</LinkTo>

{{#if canSync}}
  <LinkTo @route="clients">
    {{paper-icon "desktop-mac"}}
    <div>Clients</div>
  </LinkTo>
{{/if}}

{{#if canEdit}}
  <LinkTo @route="publishing">
    {{paper-icon "web"}}
    <div>Publish</div>
  </LinkTo>
{{/if}}

<LinkTo @route="about">
  {{paper-icon "info-outline"}}
  <div>About</div>
</LinkTo>
