<img src="/images/sidebar-logo@2x.png" width="50" height="61" alt="Davros">

{{#link-to "home" current-when="file"}}
  {{paper-icon "folder"}} <span>Files</span>
{{/link-to}}

{{#if canSync}}
  {{#link-to "clients"}}
    {{paper-icon "desktop-mac"}} <span>Clients</span>
  {{/link-to}}
{{/if}}

{{#if canEdit}}
  {{#link-to "publishing"}}
    {{paper-icon "web"}} <span>Publishing</span>
  {{/link-to}}
{{/if}}

{{#link-to "about"}}
  {{paper-icon "info-outline"}} <span>About</span>
{{/link-to}}
